h4{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px;
    color: #ffffff;
}

.titulo,
.descripcion,
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.footer p{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.titulo h5{
    text-transform: capitalize;
}

.btn-edit-elim{
    display: flex;
}
.btn-edit-elim button{
    background: transparent;
    margin: 0 5px;
}

.btn-edit-elim .edit{
    color: #0ec51e;
}
.btn-edit-elim .elim{
    color: #c50e0e;
}

.btn-edit-elim button:hover {
    box-shadow:  0 3px 3px;
    
}

